<div class="scorers-container">
  <h3>⚽ Meilleurs buteurs</h3>
  
  @if (scorers().length > 0) {
    <ul class="scorers-list">
      @for (scorer of scorers(); track scorer.player.id; let i = $index) {
        <li class="scorer-item" [class.first]="i === 0" [class.podium]="i < 3">
          <span class="rank">{{ i + 1 }}</span>
          <div class="scorer-info">
            <span class="player-name">{{ scorer.player.name }}</span>
            <span class="team-name">{{ scorer.team.shortName }}</span>
          </div>
          <div class="stats">
            <span class="goals">{{ scorer.goals }} ⚽</span>
            @if (scorer.assists !== null) {
              <span class="assists">{{ scorer.assists }} 🅰️</span>
            }
          </div>
        </li>
      }
    </ul>
  } @else {
    <p class="no-data">Aucun buteur à afficher</p>
  }
</div>
